
.btn{
   border-color: var(--bs-yellow);
  color:var(--bs-yellow);
  margin:0.5rem;
  border-radius:25%;
  width:3rem;
  height:3rem;;
}

.btn-outline-primary:hover {
    background-color: var(--bs-yellow);;
    border-color: var(--bs-yellow);
}

.col{
    width:fit-content
}
h3
{
    width:fit-content;
    margin: auto;
    color: white;
}
body{
    background-color: black;
}
h1{
    color:var(--bs-yellow)
}
.main{
    margin-top: 10rem;

}